apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: gatewayclassparameters.gateway.varnish-software.com
spec:
  group: gateway.varnish-software.com
  names:
    kind: GatewayClassParameters
    listKind: GatewayClassParametersList
    plural: gatewayclassparameters
    singular: gatewayclassparameters
    shortNames:
      - gcp
  scope: Cluster
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          description: GatewayClassParameters contains configuration for a GatewayClass.
          properties:
            apiVersion:
              type: string
              description: API version of the resource
            kind:
              type: string
              description: Kind of the resource
            metadata:
              type: object
            spec:
              type: object
              description: Specification of the GatewayClassParameters
              properties:
                userVCLConfigMapRef:
                  type: object
                  description: |
                    Reference to a ConfigMap containing user VCL.
                    The user VCL will be appended to the generated VCL.
                  required:
                    - name
                    - namespace
                  properties:
                    name:
                      type: string
                      description: Name of the ConfigMap
                      minLength: 1
                    namespace:
                      type: string
                      description: Namespace of the ConfigMap
                      minLength: 1
                    key:
                      type: string
                      description: Key in the ConfigMap data containing the VCL. Defaults to "user.vcl"
      additionalPrinterColumns:
        - name: Age
          type: date
          jsonPath: .metadata.creationTimestamp
